In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_csv(r'C:\Users\rajesh\OneDrive\Desktop\ml_practice_projects\Decision_Tree\movie_interest.csv')
df.head()

    Age  Gender   Interest
0     8       1  Animation
1    11       1  Animation
2    12       1  Animation
3    16       1     Action
4    18       1     Action
5    19       1     Action
6    23       1      Drama
7    26       1      Drama
8    27       1      Drama
9     7       0  Animation
10    9       0  Animation
11   10       0  Animation
12   26       0     Action
13   27       0     Action
14   30       0     Action
15   31       0      Drama
16   34       0      Drama
17   35       0      Drama

In [3]:
le = LabelEncoder()
df['Interest'] = le.fit_transform(df['Interest'])
df

    Age  Gender  Interest
0     8       1         1
1    11       1         1
2    12       1         1
3    16       1         0
4    18       1         0
5    19       1         0
6    23       1         2
7    26       1         2
8    27       1         2
9     7       0         1
10    9       0         1
11   10       0         1
12   26       0         0
13   27       0         0
14   30       0         0
15   31       0         2
16   34       0         2
17   35       0         2

In [4]:
X = df[['Age', 'Gender']]
y = df['Interest']

X, y

(    Age  Gender
 0     8       1
 1    11       1
 2    12       1
 3    16       1
 4    18       1
 5    19       1
 6    23       1
 7    26       1
 8    27       1
 9     7       0
 10    9       0
 11   10       0
 12   26       0
 13   27       0
 14   30       0
 15   31       0
 16   34       0
 17   35       0,
 0     1
 1     1
 2     1
 3     0
 4     0
 5     0
 6     2
 7     2
 8     2
 9     1
 10    1
 11    1
 12    0
 13    0
 14    0
 15    2
 16    2
 17    2
 Name: Interest, dtype: int64)

In [5]:
model = DecisionTreeClassifier()
model.fit(X, y)

print("Model trained successfully")

Model trained successfully